In [ ]:
#importing libraries
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn import metrics
import nltk
import re
import string
import nltk 
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
data = pd.read_csv('clean_final_df.csv' , lineterminator='\n')

In [ ]:

data.head()

,id,dialect,tweet
0,1175358310087892992,IQ,لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,يعني هذا محسوب على البشر .. حيونه ووحشيه .. و...
2,1175450108898565888,IQ,مبين من كلامه خليجي
3,1175471073770573824,IQ,يسلملي مرورك وروحك الحلوه
4,1175496913145217024,IQ,وين هل الغيبه اخ محمد

In [ ]:




data['tokenized_tweets'] = data.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
sw = stopwords.words('arabic')
data['stopped_tweets'] = [i for i in data['tokenized_tweets'] if not i in sw]

#iterate over the tokenized_tweets column
len_tokens = []
word_tokens = data['tokenized_tweets']
for i in range(len(word_tokens)):
  len_tokens.append(len(word_tokens[i]))

data['n_tokens'] = len_tokens

In [ ]:
data.head()

,id,dialect,tweet,tokenized_tweets,stopped_tweets,n_tokens
0,1175358310087892992,IQ,لكن بالنهاية .. ينتفض .. يغير .,"[لكن, بالنهاية, .., ينتفض, .., يغير, .]","[لكن, بالنهاية, .., ينتفض, .., يغير, .]",7
1,1175416117793349632,IQ,يعني هذا محسوب على البشر .. حيونه ووحشيه .. و...,"[يعني, هذا, محسوب, على, البشر, .., حيونه, ووحش...","[يعني, هذا, محسوب, على, البشر, .., حيونه, ووحش...",18
2,1175450108898565888,IQ,مبين من كلامه خليجي,"[مبين, من, كلامه, خليجي]","[مبين, من, كلامه, خليجي]",4
3,1175471073770573824,IQ,يسلملي مرورك وروحك الحلوه,"[يسلملي, مرورك, وروحك, الحلوه]","[يسلملي, مرورك, وروحك, الحلوه]",4
4,1175496913145217024,IQ,وين هل الغيبه اخ محمد,"[وين, هل, الغيبه, اخ, محمد]","[وين, هل, الغيبه, اخ, محمد]",5

In [ ]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(data['tweet'] , data['dialect'] , test_size = 0.30 , random_state = 53)




tf_idf = TfidfVectorizer()
X_train_tf = tf_idf.fit_transform(X_train)
X_train_tf = tf_idf.transform(X_train)
print("n_samples: %d, n_features: %d" % X_train_tf.shape)
X_test_tf = tf_idf.transform(X_test)
print("n_samples: %d, n_features: %d" % X_test_tf.shape)


NB_clf = MultinomialNB()
NB_clf.fit(X_train_tf , y_train)
y_pred = NB_clf.predict(X_test_tf)

print(metrics.classification_report(y_test, y_pred, target_names=['IQ', 'LY', 'QA', 'PL'
, 'SY', 'TN', 'JO', 'MA', 'SA', 'YE', 'DZ','EG', 'LB', 'KW', 'OM', 'SD', 'AE', 'BH']))

test_acc = NB_clf.score(X_test_tf , y_test)
print("test accuracy is :" ,test_acc)
train_acc = NB_clf.score(X_train_tf , y_train)
print("train accuracy is : " ,train_acc)

n_samples: 320737, n_features: 420364
n_samples: 137460, n_features: 420364
              precision    recall  f1-score   support

          IQ       0.71      0.13      0.22      7908
          LY       0.74      0.08      0.14      7771
          QA       0.90      0.16      0.27      4816
          PL       0.35      0.98      0.51     17190
          SY       0.95      0.09      0.16      4682
          TN       0.78      0.06      0.10      8294
          JO       0.29      0.80      0.42     12537
          MA       0.82      0.41      0.55      8391
          SA       0.67      0.58      0.62     11002
          YE       0.99      0.19      0.32      3453
          DZ       0.96      0.03      0.05      5807
          EG       0.32      0.66      0.43     13192
          LB       0.52      0.37      0.43      9210
          KW       0.62      0.12      0.20      8052
          OM       1.00      0.05      0.09      4392
          SD       0.99      0.03      0.06      4977
          AE       0.98      0.02      0.04      2786
          BH       1.00      0.01      0.01      3000

    accuracy                           0.39    137460
   macro avg       0.75      0.26      0.26    137460
weighted avg       0.64      0.39      0.33    137460

test accuracy is : 0.3935035646733595
train accuracy is :  0.504509925577654

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(data['tweet'] , data['dialect'] , test_size = 0.25 , random_state = 53)

In [ ]:
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.fit_transform(y_test)

In [ ]:
tf_idf = TfidfVectorizer(decode_error='replace', encoding='utf-8')
X_train_tf = tf_idf.fit_transform(X_train.values.astype('U'))
X_train_tf = tf_idf.transform(X_train.values.astype('U'))
print("n_samples: %d, n_features: %d" % X_train_tf.shape)
X_test_tf = tf_idf.transform(X_test.values.astype('U'))
print("n_samples: %d, n_features: %d" % X_test_tf.shape)

n_samples: 166143, n_features: 268405
n_samples: 55382, n_features: 268405

In [ ]:
DT_clf = DecisionTreeClassifier()
DT_clf.fit(X_train_tf,y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = DT_clf.predict(X_test_tf)#Accuracy
from sklearn import metrics
print('Accuracy Score:', metrics.accuracy_score(y_test,y_pred))

Accuracy Score: 0.2818419903972065

In [ ]:
# INIT LOGISTIC REGRESSION CLASSIFIER
LG_clf = LogisticRegression(verbose=1, solver='liblinear',random_state=0, C=5, penalty='l2',max_iter=1000)
model=LG_clf.fit(X_train_tf,y_train)

[LibLinear]

In [ ]:
probs = model.predict_proba(X_test_tf)

In [ ]:
print(probs)

[[4.25032648e-02 1.72774788e-02 4.05078869e-02 ... 3.05862901e-02
  3.56566907e-03 2.33818905e-02]
 [3.79679497e-02 2.25849602e-01 1.87527336e-02 ... 1.84911857e-02
  2.04128249e-02 6.82120716e-02]
 [2.15431667e-04 4.42995253e-04 4.29692487e-03 ... 5.42979287e-03
  1.00118239e-02 7.85655113e-04]
 ...
 [1.09346757e-03 5.19091853e-03 1.89782989e-02 ... 1.19432755e-01
  2.17459650e-02 1.65900337e-02]
 [1.09729704e-01 2.12055739e-01 1.09060456e-04 ... 3.82696128e-04
  8.61914818e-04 4.01342510e-04]
 [9.62224527e-03 1.29063508e-02 9.96328730e-03 ... 3.58715115e-03
  1.05925784e-02 9.74202983e-03]]

In [ ]:
LG_y_pred = LG_clf.predict(X_test_tf)

In [ ]:
print('Accuracy Score:', metrics.accuracy_score(y_test,LG_y_pred))

Accuracy Score: 0.5483020515058926

In [ ]:
predict_train = LG_clf.predict(X_train_tf)

In [ ]:
predict_test = LG_clf.predict(X_test_tf)

In [ ]:
f1_score(y_train  , predict_train , average='weighted')

0.8850505230352816

In [ ]:
f1_score(y_test  , predict_test , average='weighted')

0.5411556991388756

In [ ]:
print(metrics.classification_report(y_test, LG_y_pred, target_names=['IQ', 'LY', 'QA', 'PL'
, 'SY', 'TN', 'JO', 'MA', 'SA', 'YE', 'DZ','EG', 'LB', 'KW', 'OM', 'SD', 'AE', 'BH']))

              precision    recall  f1-score   support

          IQ       0.44      0.43      0.44      6616
          LY       0.39      0.34      0.36      6471
          QA       0.65      0.53      0.59      4023
          PL       0.70      0.87      0.78     14295
          SY       0.68      0.54      0.60      3873
          TN       0.42      0.35      0.39      6958
          JO       0.47      0.60      0.53     10474
          MA       0.63      0.67      0.65      7019
          SA       0.66      0.71      0.68      9206
          YE       0.78      0.57      0.66      2846
          DZ       0.43      0.34      0.38      4900
          EG       0.47      0.57      0.52     10893
          LB       0.47      0.49      0.48      7637
          KW       0.42      0.44      0.43      6735
          OM       0.76      0.55      0.64      3654
          SD       0.53      0.32      0.40      4169
          AE       0.77      0.46      0.58      2318
          BH       0.49      0.18      0.26      2463

    accuracy                           0.55    114550
   macro avg       0.56      0.50      0.52    114550
weighted avg       0.55      0.55      0.54    114550